# TRABALHO 1

In [1]:
import os
import json
import csv
import pandas as pd
import os.path
import openpyxl
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn import decomposition
from sklearn import datasets
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA

In [2]:
path = os.getcwd()
path_xlsx = path + '/'

print(path_xlsx)
data = pd.read_excel(f"{path_xlsx}/dataframe1.xlsx")
df_treino = data.dropna(subset=['label'])
df_treino = df_treino.drop('label2', axis=1)
df_all = data.drop('label2', axis=1)

c:\Users\silva\OneDrive\Área de Trabalho\github\classification-ti26s/

# DATABASE

In [3]:
df_all

,label,id,key,text,text_len,context_name,context_description,context_annotations,impression_count,like_count,retweet_count,reply_count,quote_count,has_link,has_emoji,lang,created_at,edit_history_tweet_ids,referenced_tweets
0,1.0,1645735418938149888,aleijada,iala essas piranha puta vadia safada vagabund...,280,NaN,NaN,NaN,22,0,0,0,0,False,True,pt,2023-04-11T10:27:54.000Z,['1645735418938155010'],"[{'type': 'quoted', 'id': '1645517900722176009'}]"
1,1.0,1645735092667529984,aleijada,se eu presenciar isso vou presa pq ela ia fi...,104,NaN,NaN,NaN,12,0,0,0,0,False,False,pt,2023-04-11T10:26:37.000Z,['1645735092667531266'],"[{'type': 'replied_to', 'id': '164560528129903..."
2,0.0,1645724510304320000,aleijada,se so piora vai ficar logo e aleijada,53,NaN,NaN,NaN,7,0,0,0,0,False,False,pt,2023-04-11T09:44:33.000Z,['1645724510304325632'],"[{'type': 'replied_to', 'id': '164571619666100..."
3,0.0,1645655628650629888,aleijada,guria eu tambem tenho certeza que sou toda er...,99,NaN,NaN,NaN,24,0,0,1,0,False,False,pt,2023-04-11T05:10:51.000Z,['1645655628650631169'],"[{'type': 'replied_to', 'id': '164564212352011..."
4,0.0,1645615543670510080,aleijada,limpe vc n e aleijada,38,NaN,NaN,NaN,24,0,0,1,0,False,False,pt,2023-04-11T02:31:34.000Z,['1645615543670517760'],"[{'type': 'replied_to', 'id': '164561498806783..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,0.0,1647536575209769984,viado,oh o viado,19,NaN,NaN,NaN,29,0,0,0,0,False,False,pt,2023-04-16T09:45:03.000Z,['1647536575209779200'],"[{'type': 'replied_to', 'id': '164739527487091..."
2793,NaN,1647536396167419904,viado,ce e viado ne vei,38,NaN,NaN,NaN,313,0,0,1,0,False,True,pt,2023-04-16T09:44:21.000Z,['1647536396167421956'],"[{'type': 'replied_to', 'id': '164739356074703..."
2794,NaN,1647534413880630016,viado,hoje em dia esses viado mostra tudo menos as p...,52,K-pop,K-Pop,NaN,22,0,0,0,0,False,False,pt,2023-04-16T09:36:28.000Z,['1647534413880631298'],"[{'type': 'quoted', 'id': '1647335150768869382'}]"
2795,0.0,1647534410210629888,viado,que esforco pra nao dizer que e viado,54,NaN,NaN,NaN,10,1,0,0,0,False,False,pt,2023-04-16T09:36:27.000Z,['1647534410210631682'],"[{'type': 'replied_to', 'id': '164724939306458..."
2796,0.0,1647534169969280000,viado,porra viado mandei a foto la zoando,64,NaN,NaN,NaN,18,1,0,0,0,False,False,pt,2023-04-16T09:35:30.000Z,['1647534169969287168'],"[{'type': 'replied_to', 'id': '164743019544642..."

In [4]:
df_treino

,label,id,key,text,text_len,context_name,context_description,context_annotations,impression_count,like_count,retweet_count,reply_count,quote_count,has_link,has_emoji,lang,created_at,edit_history_tweet_ids,referenced_tweets
0,1.0,1645735418938149888,aleijada,iala essas piranha puta vadia safada vagabund...,280,NaN,NaN,NaN,22,0,0,0,0,False,True,pt,2023-04-11T10:27:54.000Z,['1645735418938155010'],"[{'type': 'quoted', 'id': '1645517900722176009'}]"
1,1.0,1645735092667529984,aleijada,se eu presenciar isso vou presa pq ela ia fi...,104,NaN,NaN,NaN,12,0,0,0,0,False,False,pt,2023-04-11T10:26:37.000Z,['1645735092667531266'],"[{'type': 'replied_to', 'id': '164560528129903..."
2,0.0,1645724510304320000,aleijada,se so piora vai ficar logo e aleijada,53,NaN,NaN,NaN,7,0,0,0,0,False,False,pt,2023-04-11T09:44:33.000Z,['1645724510304325632'],"[{'type': 'replied_to', 'id': '164571619666100..."
3,0.0,1645655628650629888,aleijada,guria eu tambem tenho certeza que sou toda er...,99,NaN,NaN,NaN,24,0,0,1,0,False,False,pt,2023-04-11T05:10:51.000Z,['1645655628650631169'],"[{'type': 'replied_to', 'id': '164564212352011..."
4,0.0,1645615543670510080,aleijada,limpe vc n e aleijada,38,NaN,NaN,NaN,24,0,0,1,0,False,False,pt,2023-04-11T02:31:34.000Z,['1645615543670517760'],"[{'type': 'replied_to', 'id': '164561498806783..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2789,0.0,1647537299167620096,viado,viu viado,49,NaN,NaN,NaN,31,0,0,0,0,False,False,pt,2023-04-16T09:47:56.000Z,['1647537299167625218'],"[{'type': 'replied_to', 'id': '164669465402327..."
2790,1.0,1647537082045189888,viado,bom q seja preso seu viado,38,NaN,NaN,NaN,10,0,0,1,0,False,False,pt,2023-04-16T09:47:04.000Z,['1647537082045198336'],"[{'type': 'replied_to', 'id': '164739044381712..."
2792,0.0,1647536575209769984,viado,oh o viado,19,NaN,NaN,NaN,29,0,0,0,0,False,False,pt,2023-04-16T09:45:03.000Z,['1647536575209779200'],"[{'type': 'replied_to', 'id': '164739527487091..."
2795,0.0,1647534410210629888,viado,que esforco pra nao dizer que e viado,54,NaN,NaN,NaN,10,1,0,0,0,False,False,pt,2023-04-16T09:36:27.000Z,['1647534410210631682'],"[{'type': 'replied_to', 'id': '164724939306458..."
2796,0.0,1647534169969280000,viado,porra viado mandei a foto la zoando,64,NaN,NaN,NaN,18,1,0,0,0,False,False,pt,2023-04-16T09:35:30.000Z,['1647534169969287168'],"[{'type': 'replied_to', 'id': '164743019544642..."

## DESCRIBE

### Dataframe inteiro

![describe2](null-full.png)

Há 3 variáveis que há grandes quantidades de registros nulos:
- context_name
- context_description
- context_count
Há 1 variável que possui apenas 42 registros nulos:
- referenced_tweets

Para o propósito do trabalho, preencher essas variáveis não vale a pena.
Essas variáveis contém o contexto no qual o tweet está inserido, por exemplo:
- Política
- Música
- Televisão
- Religião

A API do Twitter na qual coletamos essas informações, possui um sistema muito ruim para registrar esses contextos, alguns nem estão corretos. O que coletamos é suficiente para nos darmos uma ideia de possíveis contextos onde tweets preconceituosos estão inseridos.
Enriquecer essa variável exigiria modelos de aprendizado de máquina, para analisar o texto e identificar qual o assunto e o contexto que ele se encaixa. 
A ideia do trabalho é fazer uma classificação se o texto tem preconceito ou não, utilizando aprendizado de máquina supervisionado.

![describe](describe-full.png)

### Dataframe de treino

![describe](null-treino.png)

![describe](describe-treino.png)

---------

- label (bool): classificação (0/1). 1 para texto preconceituoso. 0 para texto não preconceituoso
- id (id): identificador único do tweet
- key (text): palavra chave utilizada na busca
- text (text): texto do tweet
- text_len (numeric): tamanho do texto do tweet, quantidade de caracteres
- context_name (text): contexto que o tweet se encaixa
- context_description (text): descrição do contexto que o tweet se encaixa
- context_annotations (text): demais anotações do contexto que o tweet se encaixa
- impression_count (numeric): número de vizualizações(impressões) que o tweet tinha no momento da coleta
- like_count (numeric): número de curtidas que o tweet tinha no momento da coleta
- retweet_count (numeric): número de compartilhamentos que o tweet tinha no momento da coleta
- reply_count (numeric): número de respostas que o tweet tinha no momento da coleta
- quote_count (numeric): número de menções que o tweet tinha no momento da coleta
- has_link (bool): Possui link no texto ou não. 1 para texto com link. 0 para texto sem link.
- has_emoji (bool): Possui emoji no texto ou não. 1 para texto com emoji. 0 para texto sem emoji.
- lang (text): Idioma do tweet. Todos serão 'pt' pois já foi filtrado.
- created_at (date): Data que o tweet foi postado.
- edit_history_tweet_ids (list): Lista de ids de edição dos tweets.
- referenced_tweets (list): Lista de referências do tweet.

---------

# Análise

### Matriz de correlação entre as variáveis

In [ ]:
# Calculando a matriz de correlação
matriz_corr = df.corr(numeric_only=True)

# Plotando o mapa de calor com seaborn
sns.heatmap(matriz_corr, annot=True, cmap='coolwarm', vmin=-1, vmax=1)

plt.show()

As variáveis numéricas que mais tem correlação são as contagens de impressão, like, reply. É comum que tweets que possuem um maior alcance (impression) costumam possuir maior engajamento, como um número meio de likes e reply.

### PCA